@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --background: #f5f5f5;
  --foreground: #222222;
  --primary: #03abc9;
  --primary-alt: #27c1e4;
  --secondary: #0aa380;
  --surface: #ededed;
  --surface-top: #e3e3e3;
  --foreground-alt: #999999;
  --warning: #f6b935;
  --error: #e05454;
  --tertiary: #8c7ae6;
  --accent: #e84393;
  --info: #0984e3;
  --success: #2ecc71;
}

.dark {
  --background: #121212;
  --foreground: #f5f5f5;
  --surface: #1d1d1d;
  --surface-top: #2d2d2d;
  --secondary: #05d0a0;
  --tertiary: #9c88ff;
  --accent: #fd79a8;
  --info: #74b9ff;
  --success: #55efc4;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-alt: var(--primary-alt);
  --color-secondary: var(--secondary);
  --color-surface: var(--surface);
  --color-surface-top: var(--surface-top);
  --color-foreground-alt: var(--foreground-alt);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-tertiary: var(--tertiary);
  --color-accent: var(--accent);
  --color-info: var(--info);
  --color-success: var(--success);
}

*:focus {
  outline: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

label {
  display: block;
}

.icon-sm {
  font-size: 1.1rem !important;
}
.icon-md {
  font-size: 1.4rem !important;
}
.icon-lg {
  font-size: 2rem !important;
}
.icon-xl {
  font-size: 2.4rem !important;
}
